// Set Points
//
$break-small-max: 660px;
$break-medium-min: 661px;
$break-medium-max: 1199px;
$break-large-min: 1200px;

// Primary application colors
//
$primary-color: #EC1D24;

// Background colors for containers
//
$primary-background-color: #edeeef;
$component-background-color: #2b2d30;
$list-highlight-light: #e7e9ea;
$list-highlight-dark: #e2e3e4;
// Text colors
//
$primary-text-color: #ffffff;
$secondary-text-color: #6c747b;
$light-text-color: #ffffff;
$colored-text-color: #007dbf;
$light-gray-color: #989898;

