@import '../../../styles/variables.scss';

header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: $primary-color;
  color: $primary-text-color;

  button.info{
    left: 0;
    width: 25px;
    height: 25px;
    background-image: url('../../assets/info.svg');
    margin: 0 1%;
  }

  div.title{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;

    .logo {
      width: 130px;
      height: 52px;
      background: url('../../assets/marvel-logo.svg');
    }

    h1 {
      margin-bottom: 0;
      font-size: 2rem;
      font-weight: 300;
    }
  }
}
