<div id="detail">
  <a [routerLink]="['/']" class="back">
    <span class="material-icons" id="back-btn"> keyboard_arrow_left </span>
  </a>

  <div class="row" *ngIf="comicDetail && !hasError">
    <div class="col-lg-5 col-md-12 img-container">
      <div class="blurred-bg" [ngStyle]="{ 'background-image': 'url(' + comicDetail.thumbnailURL + ')' }"></div>
      <img [src]="comicDetail.thumbnailURL" alt="" class="image" />
    </div>

    <div class="col-lg-7 col-md-12 comic-info">
      <div class="comic-title">
        <h1>{{ comicDetail.title }}</h1>
      </div>
      <div class="comic-data">
        <p class="data-title">Creators</p>
        <p></p>

        <ul class="data-list">
          <li *ngFor="let creator of comicDetail.creators?.items">
            {{ creator.name }}
          </li>
        </ul>

        <p class="data-title">Stories</p>
        <p></p>

        <ul class="data-list">
          <li *ngFor="let story of comicDetail.stories?.items">
            {{ story.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="hasError">
    <div class="col-sm-12 error-message">
      <h1>Sorry, there seems to be something wrong, please try again later</h1>
    </div>
  </div>
</div>
