@import '../../styles/variables.scss';

div#detail {
  position: relative;
  min-height: 100vh;
  background-color: $component-background-color;

  a.back {
    display: inline;
    color: $primary-text-color;
    width: 30px;
    height: 30px;

    span#back-btn {
      font-size: 30px;
    }
  }

  .img-container {
    perspective: 1000px;
    height: 100vh;

    a.back {
      color: $primary-text-color;
    }

    .blurred-bg {
      filter: blur(8px);
      -webkit-filter: blur(8px);
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .image {
      transform: rotateY(15deg);
      height: 90vh;
      top: 1vh;
      left: 9vw;
      position: absolute;
    }
  }

  .comic-info {
    height: 100%;

    .comic-title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40vh;
      color: $primary-text-color;
    }

    div.comic-data {
      height: 60vh;
      background-color: $primary-background-color;
      font-weight: 200;

      p.data-title {
        align-items: center;
        padding: 0 0.5rem;
        height: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 0;
      }

      ul.data-list {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          padding: 0 1rem;
          height: 2rem;
          background: $list-highlight-dark;

          &:nth-child(odd) {
            background: $list-highlight-light;
          }
        }
      }
    }
  }
}
