
<nav class="paginator" aria-label="Comics page navigation">

    <!-- pager -->
    <ul *ngIf="totalResults">
        <li *ngIf="currentPage !== 1">
            <a (click)="setPage(1)">
              <span class="material-icons">
              keyboard_arrow_left
              </span>
              <span class="material-icons">
              keyboard_arrow_left
              </span>
            </a>
        </li>
        <li *ngIf="currentPage !== 1">
            <a (click)="setPage(currentPage - 1)">
              <span class="material-icons">
              keyboard_arrow_left
              </span>
            </a>
        </li>


        <li *ngFor="let page of pagedItems; let index" [ngClass]="{active:currentPage === page}">
            <a (click)="setPage(index )">{{index }} </a>
        </li>
        <li *ngIf="(totalPages - startPage) > 5 ">
            <a (click)="setPage(startPage + 5)">...</a>
        </li>
          <li *ngIf="(totalPages - startPage) > 5" >
            <a (click)="setPage(totalPages)">{{totalPages}}</a>
        </li>

        <li *ngIf="currentPage !== totalPages">
            <a (click)="setPage(currentPage + 1)">
              <span class="material-icons">
              keyboard_arrow_right
              </span>

            </a>
        </li>
        <li *ngIf="currentPage !== totalPages">
            <a (click)="setPage(totalPages)">
              <span class="material-icons">
              keyboard_arrow_right
              </span>
              <span class="material-icons">
                keyboard_arrow_right
                </span>
              </a>
        </li>
    </ul>
  </nav>
