<div id="page-container">
  <app-header> </app-header>

  <div class="row cards-list">
    <div *ngFor="let comic of comicsList; index as i "[ngClass]="{'offset-md-1' : i % 5 === 0}" class="col col-md-2 ">
      <div class="comic-card">
        <img [src]="comic.thumbnailURL" class="image" alt="">
        <div class="overlay">
          <div class="text">
            <a [routerLink]="['detail',  comic.id ]">
              <h2>{{comic.title}}</h2>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>

 <app-paginator [totalResults]="response?.total" (pageEvent)="onPaginationChange($event)"></app-paginator>

</div>
